.toast {
    
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}
.toast + .toast {
    margin-top: 20px;
}
#toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;

}
.success {
    background-color: #28a745;
}

.error {
    background-color: #dc3545; 
}

